<!-- <h1 class="title">Build Your Team</h1>


<%= form_for :team, url: user_teams_path(@user), method: :post do |f| %>
  <%= f.label :roster_name %>
  <%= f.text_field :roster_name %><br>
  <%= f.submit %>

<% end %> -->

You should not be able to get here
