<h1>The Awesome Powers of Our Universe</h1>

<% @powers.each do |power| %>
<ul>
  <p style="display: inline-block;"><%= link_to power.name, power %> has a potentency of: <%= power.score %></p>
</ul>
<% end %>
