<div class="link-box" style="min-width: 10em; text-align: left;">

  <h1>Edit User</h1>

  <%= render "form" %>

  <br>

  <%= link_to "Delete", user_path, method: :delete, style: "font-size: 1em;"%>

</div>
