<h1 class="title">Create a New User</h1>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <ul>
        <li class = "edit-user"><%= error %>!!</li>
      </ul>
    <% end %>
  <% end %>


<div class="edit-user">

<%= render "form" %>

</div>

<br>

<div class="edit-user" style="position: relative; left: 10em;">

  <p>From here you can create a new user. Once logged in, you'll be able to pit comicbook characters against each other and finally determine who would win: Superman or Batman? Thor or Thanos? Darkwing Duck or Bart Simpson?</p>

</div>
