/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: black;
}

/* Header stuff */

header {
  height: 2.4em;
  color: white;
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

header > .h-left {
  width: 30%;
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

header > .h-right {
  width: 49%;
  text-align: right;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

header > .h-right > * {
  color: white;
  display: inline-flex;
  text-decoration: none;
  vertical-align: top;
}

header > .h-right > a:hover {
  color: red;
}

.h-left > p > a {
  font-size: 1.1em;
  color:white;
  text-decoration: none;
}

header > p > a:hover {
  cursor: pointer;
  color: red;
}

footer {
  height: 2.2em;
  color: white;
  background-color: black;
  position: sticky;
  bottom: 0;
}

.login-field {
  max-height: 1.1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Main */

.main {
  background-image: url('https://image.freepik.com/free-vector/abstract-comic-book-background_1055-2509.jpg');
  background-size: cover;
  text-align: center;
  min-height: 790px;
  overflow: scroll;
}

.char-index-box > a > img {
  display: inline-block;
  width: 100%;
}

.char-index-box {
  display: inline-block;
  width: 32%;
  border: solid black 2px;
  text-align: center;
  margin: 1px;
  background-color: black;
}

.title {
  color: red;
  background: orange;
  border: solid black 2px;
}

.link-box {
  display: inline-block;
  clear: both;
  background-image: url('https://t2.ftcdn.net/jpg/01/43/21/49/400_F_143214906_9lRW3hO8HkrjrikQ3tfO7hSFzIIn7bL7.jpg');
  padding: 1em;
  border-radius: 1em;
}

.link-box > a {
  text-decoration: none;
  font-size: 2em;
  color: black;
}

.link-box > a:hover {
  color: red;
}
