// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-team-bt > a {
  font-family: 'Permanent Marker', cursive;
  font-size: 0.4em;
  color: white;
  text-decoration: none;
  background: black;
  border-radius: 5px;
  padding: 0.5em;
}

.edit-team-bt > a:hover {
  color: black;
  background: white;
}
